/* Base font sizing: 1rem = 10px */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* Inherit box-sizing everywhere */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Body defaults */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  color: #141413;            /* readable dark text */
  background-color: #FAFAF8; /* neutral background */
  -webkit-font-smoothing: antialiased;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
  height: 8rem;
  background: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.logo-img {
  width: 5rem;
}

.header > h1 {
  font-size: 2rem;
  font-weight: 400;
}

main {
  padding: 3rem 3rem 1rem;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 0.9rem 1.3rem;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 15rem;
  max-width: 40rem;
}

.add-ingredient-form > button {
  font-family: 'Inter', sans-serif; /* button do not inherit font-family */
  border-radius: 6px;
  border: none;
  background: #141413;
  color: #FAFAF8;
  padding: 0.9rem 1.3rem;
  width: 15rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 0.5rem;
}

section.ingredient-section {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
}

section.ingredient-section h2 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}



ul.ingredients-list {
  margin-bottom: 4.8rem;
}

ul.ingredients-list > li {
  font-size: 1.8rem;
  color: #475467;
  line-height: 2.8rem;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #F0EFEB;
  padding: 1rem 2.8rem;
}

.get-recipe-container h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 1.4rem;
    line-height: 2rem;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 0.9rem 1.7rem;
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 auto;
    width: 60rem;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}