/* Base font sizing: 1rem = 10px */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* Inherit box-sizing everywhere */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Body defaults */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  padding: 2rem;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #F9F4DA;
}

header > p {
  font-size: 1.4rem;
  max-width: 35rem;
  color: #8E8E8E;
}

section.game-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F9F4DA;
  border-radius: 4px;
  margin-block: 3rem;
}

section.game-status > p {
    margin: 0.5rem;
    font-size: 1.4rem;
}
section.game-status > h2 {
    font-size: 2rem;
    margin: 0.5rem
}

.bg-green {
  background-color: #10A95B;
}

.bg-red {
  background-color: #BA2A2A;
}

.bg-purple {
  background-color: #7A5EA7;
}