/* Base font sizing: 1rem = 10px */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* Inherit box-sizing everywhere */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Body defaults */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Karla', sans-serif;
  color: #F5F5F5;
  background-color: #0B2434;

  /* centering */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


main {
  width: min(90vw, 60rem);
  height: min(90vh, 60rem);
  background-color: #F5F5F5;
  border-radius: 5px;

  /* Center button grid */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.dice-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  gap: 2rem;
}

button {
  font-family: Karla, sans-serif;
  cursor: pointer;
}

.die {
  height: 5rem;
  width: 5rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size: 1.75rem;
  font-weight: bold;
}

button.roll-dice-btn {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.75rem;
}